body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: aliceblue;
}
.calculator-app
{
    width: 70% !important;
    height: auto !important;
}
#btn 
{
    width: 24.5%;
    height: auto;
    padding: 22px;
}

